body {
  font: 12px/20px Georgia, Constantia, serif;
  color: #242322;
  }

/*-----------------------
  Layout & Style
-------------------------*/
#header {
  background: #242322;
  color: #fff;
  text-shadow: 0px -1px 1px #111;
  height: 150px;
  position: absolute;
  z-index: 10;
  width: 100%;
  }
.limiter {
  margin: 0 auto;
  width: 960px;
  position: relative;
  }
  
/*-----------------------
  Typography
-------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  }
h1 {
  font-family: superclarendon, Palatino, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 30px;
  }
#header h1 {
  position: absolute;
  z-index: 10;
  top: 65px;
  left: 0;
  line-height: 32px;
  }

/*-----------------------
  Map
-------------------------*/
#map, 
#map-overlay {
  position: absolute;
  height: 100%!important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }
  
/* Zoom Controls */
a.zoomer {
  text-decoration: none;
  position: absolute;
  text-align: center;
  background: #212121;
  background: rgba(0, 0, 0, .80);
  color: white;
  font-size: 16px;
  z-index: 1;
  width: 30px;
  height: 25px;
  line-height: 23px;
  font-weight: bold;
  top: 170px;
  }
a.zoomin:active,
a.zoomout:active {
  top: 21px;
  }
a.zoomout { 
  left: 20px;
  -moz-border-radius: 3px 0px 0px 3px;
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  }
a.zoomin {
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  left: 51px;
  }
a.zoomdisabled:active,
a.zoomdisabled {
  background-color: #6C7E7E;
  background-color: rgba(0,0,0,.25);
  border: none;
  cursor: default;
  }

/*Tooltip*/
.wax-tooltip {
  z-index: 999999;
  position: absolute;
  background: #fff;
  color: #222;
  padding: 10px;
  left: 10px;
  top: 10px;
  -webkit-user-select: none;
  user-select: none;
  max-width: 300px;
  }
.arrowsprite {
  display: block;
  background: url(../images/sprite.png) no-repeat 0 -490px;
  position: relative;
  top: 20px;
  width: 50px;
  height: 10px;
  }

/*Radio with radio playcount display*/
#station {
  background: #fff;
  position: absolute;
  top: 180px;
  right: 30px;
  padding: 10px;
  width: 220px;
  height: 240px;
  display: none;
  z-index: 100;
  }
#canada {
  background: transparent url(../images/sprite.png) no-repeat 50px 0;
  width: 500px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 0;
  }
a.station-point {
  background: transparent url(../images/sprite.png) no-repeat -485px -465px;
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  }
#canada a.active { background-position: -485px -485px; }
a.cfbx { top: 75px; right: 405px; }
a.cfmh { top: 105px; right: 77px; }